<template>
  <q-page >
    <!-- content -->
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  // name: 'PageName',
  mounted () {
    this.getFilleuls()
  },
  computed: {
    ...mapGetters({
      filleuls: 'mystore/filleuls',
      userConnected: 'mystore/userConnected'
    })
  },
  methods: {
    async getFilleuls () {
      const filleuls = await this.$store.dispatch('mystore/treeLevelFilleul', this.userConnected.id)
      console.log({ filleuls })
    }
  }
}
</script>
