<template>
  <q-page class="q-py-xl q-px-lg">
    <div class="row">
      <div class="col-sm-12 q-pa-md">
        <q-card class="no-shadow q-pa-md">
          <div class="row">
            <div class="col-sm-10">
              <h6 class=" text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-sm quick2" style="color: grey">T<span style="color:  #FFBD59">r</span>ezom vous met à disposition,</h6>
              <h5 class="q-pa-none q-ma-none q-mt-sm q-mb-md quick3" style="color: grey">Trois (3) grands types de dép<span style="color:  #FFBD59">o</span>t</h5>
            </div>
            <div class="col-sm-2">
              <q-img
                src="image/depot.png"
                style="width: 100%; height: auto; margin-top: -50px"
              />
            </div>
          </div>
        </q-card>
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-sm-4 q-pa-md">
        <CardDepot name="Ethereum" :depot="depot.perfectmoney" color="blue" styles="background-color: #f1f1f1" icon="fab fa-ethereum" />
      </div>
      <div class="col-sm-4 q-pa-md">
        <CardDepot name="unknown" color="red" :depot="depot.payeer" styles="background-color: #f1f1f1" icon="fas fa-coins" />
      </div>
      <div class="col-sm-4 q-pa-md">
        <CardDepot name="Bitcoin" color="orange" :depot="depot.bitcoin" styles="background-color: #f1f1f1" icon="fab fa-bitcoin" />
      </div>
    </div>
  </q-page>
</template>

<script>
import CardDepot from 'components/CardDepot'
import { mapGetters } from 'vuex'
export default {
  // name: 'PageName',
  components: {
    CardDepot
  },
  computed: {
    ...mapGetters({
      userConnected: 'mystore/userConnected'
    }),
    depot () {
      let bitcoin = 0
      let payeer = 0
      let perfectmoney = 0
      if (this.userConnected.soldeBitcoin !== null) {
        bitcoin = this.userConnected.soldeBitcoin.solde
      }
      if (this.userConnected.soldePayeer !== null) {
        payeer = this.userConnected.soldePayeer.solde
      }
      if (this.userConnected.soldePerfectmoney !== null) {
        perfectmoney = this.userConnected.soldePerfectmoney.solde
      }
      return { bitcoin, payeer, perfectmoney }
    }
  }
}
</script>
