<template>
  <q-page style="z-index: 9999;">
    <div data-aos="fade-in" class="row q-px-xl justify-end" style="margin-top: -40px; z-index: 9999; background-color: transparent">
      <div class="col-sm-8 shadow-20 q-py-lg q-pt-md rounded-borders bg-white" style="height: auto !important">
        <div class="q-mt-sm q-mb-lg">
          <h5 class="font5 q-pa-none q-ma-none text-center quick1 text-weight-light" style="color: #737373">Ce que nous offrons</h5>
        </div>
        <div class="row justify-center q-mb-sm q-px-lg">
          <div class="col-sm-2 q-mx-xl">
            <img src="logo/secure.png" alt="" style="width:50%; height: auto; display: block; margin: auto" />
            <h5 class="quick1 text-center q-mb-none q-mt-sm" style="color: #737373">Secur<span style="color:  #FFBD59">i</span>ty</h5>
          </div>
          <div class="col-sm-2 q-mx-xl">
            <img src="logo/money.png" alt="" style="width:50%; height: auto; display: block; margin: auto" />
            <h5 class="quick1 text-center q-mb-none q-mt-sm" style="color: #737373">Mon<span style="color:  #FFBD59">e</span>y</h5>
          </div>
          <div class="col-sm-2 q-mx-xl">
            <img src="logo/success.png" alt="" style="width:50%; height: auto; display: block; margin: auto" />
            <h5 class="quick1 text-center q-mb-none q-mt-sm" style="color: #737373">S<span style="color:  #FFBD59">u</span>ccess</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row q-px-xl q-mb-xl">
      <div class="col-sm-6">
        <div class="q-ml-lg">
          <h4 class="text-weight-light q-pa-none q-ma-none q-mb-md quick1" style="color: #737373">Why to trust us</h4>
          <div class="row q-mb-md" style="align-items: center">
            <span class="q-mr-sm" style="width: 30px; height: 3px; background-color:#ffbd59;"></span>
            <span class="quick3" style="color: #ffbd59"><h6 class="q-pa-none q-ma-none q-mt-sm q-mb-sm quick3">We use 3 virtual moneys</h6></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-center q-mb-xl">
      <div class="col-sm-3 col-xs-12 q-px-md" >
        <CardMoney data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000" name="Ethereum" color="blue" styles="background-color: #f1f1f1" icon="fab fa-ethereum" />
      </div>
      <div class="col-sm-3 col-xs-12 q-px-md">
        <CardMoney data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000" data-aos-delay="200" name="Unkwon" color="red"  styles="background-color: #f1f1f1" icon="fas fa-coins" />
      </div>
      <div class="col-sm-3 col-xs-12 q-px-md">
        <CardMoney data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000" data-aos-delay="400" name="Bitcoin" color="orange"  styles="background-color: #f1f1f1" icon="fab fa-bitcoin" />
      </div>
    </div>
    <div class="row q-pt-xl">
      <div class="col-sm-12" style="height: 275px;">
        <q-parallax :height="275" :speed="0.5">
          <template v-slot:media>
            <img src="image/back3.png">
          </template>
        </q-parallax>
      </div>
    </div>
    <div class="row" style="margin-top: -150px">
      <div class="col-sm-8 q-px-xl">
        <div data-aos="fade-up" data-aos-anchor-placement="bottom-center" data-aos-duration="2000" data-aos-delay="200" class="q-pl-xl q-pa-xl shadow-20 rounded-borders" style=" height: 100%; background-image: linear-gradient(to right, #373535, #3a3939, #3d3c3d, #404041, #444444);">
          <div>
            <div class="row q-mb-md" style="align-items: center">
              <span class="q-mr-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
              <span class="quick3" style=" color: #ffbd59">Razafikoto Jean</span>
            </div>
            <h4 class="q-pa-none q-ma-none q-mb-md quick1" style="color: white">About us</h4>
            <p class="q-pa-none q-ma-none q-mt-sm q-mb-md quick3" style="font-size: 15px; color: white">Nous sommes une équipe d'investisseur et de jeunes talents oeuvrant pour la mise en place d'un placement financier à Mada</p>
            <q-icon name="fas fa-chart-line" color="white" style="font-size: 40px" />
          </div>
        </div>
      </div>
      <div class="col-sm-4 q-pr-xl">
        <div data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="bottom-center" class="q-pa-xl shadow-20 rounded-borders bg-white" style="height: 100%;">
          <div>
            <div class="row q-mb-md" style="align-items: center">
              <span class="quick3" style=" color: #ffbd59">Razafikoto Jean</span>
              <span class="q-ml-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
            </div>
            <h5 class="q-pa-none q-ma-none q-mb-md quick1" style="color: #737373">"</h5>
            <p class="q-pa-none q-ma-none q-mt-sm q-mb-md quick3" style="font-size: 15px; color: #737373">Nous sommes une équipe d'investisseur et de jeunes talents oeuvrant pour la mise en place d'un placement financier à Mada</p>
            <q-icon name="fas fa-chart-line" color="white" style="font-size: 40px" />
          </div>
        </div>
      </div>
    </div>
    <div class="row q-mt-xl q-pa-xl">
      <div class="col-sm-4">
        <div class="q-ml-lg">
          <h4 class="text-weight-light q-pa-none q-ma-none q-mb-md quick1" style="color: #737373">Our reference</h4>
          <div class="row q-mb-md" style="align-items: center">
            <span class="q-mr-sm" style="width: 30px; height: 3px; background-color:#ffbd59;"></span>
            <span class="quick3" style="color: #ffbd59"><h6 class="q-pa-none q-ma-none q-mt-sm q-mb-sm quick3">Some leader users</h6></span>
          </div>
        </div>
        <div>
          <q-img
            src="image/solution.png"
            style="width: 100%; height: auto"
          />
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div v-for="(user, index) in users" :key="index" class="col-sm-6 q-pa-md">
            <CardUser data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="top-center" :name="user.pseudo" :users="user.filleuls.length" money="10,000,000" :rank="index+1" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <h3 class=" text-weight-light text-center q-pa-none q-ma-none q-mt-xl q-mb-sm quick2" style="color: #737373">Why not to join us ?</h3>
      <div class="row q-mb-xs" style="align-items: center; justify-content: center">
        <span class="q-mr-sm" style="width: 30px; height: 3px; background-color:#ffbd59;"></span>
        <span class="quick3" style="color: #ffbd59"><h6 class="text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-sm quick3">Numbers good to know</h6></span>
        <span class="q-ml-sm" style="width: 30px; height: 3px; background-color:#ffbd59;"></span>
      </div>
      <div class="row justify-center q-pa-md">
        <div class="col-sm-3 q-pa-sm">
          <CardInfo data-aos="fade-up" data-aos-duration="2000"  data-aos-anchor-placement="top-center" image="image/salary.png" money="1,222,000" invest="Invested"/>
        </div>
        <div class="col-sm-3 q-pa-sm">
          <CardInfo data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200" data-aos-anchor-placement="top-center" image="image/give.png" money="1,222,000" invest="Paid"/>
        </div>
        <div class="col-sm-3 q-pa-sm">
          <CardInfo data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300" data-aos-anchor-placement="top-center" image="image/group.png" :money="number.total" invest="Members" isNumber= "true"/>
        </div>
      </div>
      <div class="row justify-center q-pa-md">
        <div class="col-sm-3 q-pa-sm">
          <div class="row q-mb-xs" style="align-items: center">
            <span class="q-mr-sm" style="width: 30px; height: 3px; background-color:#ffbd59;"></span>
            <span class="quick3" style="color: #ffbd59"><h6 class="text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-sm quick3">Our legal documents</h6></span>
          </div>
          <div class="row" style="align-items: flex-end">
            <q-img
              src="image/legal.png"
              style="width: 100%; height: auto;"
            />
          </div>
        </div>
        <div class="col-sm-3 q-pa-sm">
          <q-img
            src="image/doc.png"
            data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="top-center"
            class="shadow-4"
            style="width: 100%; height: auto; display: block; margin: auto"
          />
        </div>
        <div class="col-sm-3 q-pa-sm">
          <q-img
            src="image/doc.png"
            data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="top-center" data-aos-delay="200"
            class="shadow-4"
            style="width: 100%; height: auto; display: block; margin: auto"
          />
        </div>
      </div>
    </div>
    <div class="row q-mt-xl q-pa-xl" >
      <div class="col-sm-7 q-px-md">
        <div class="row q-mb-xs" style="align-items: center">
          <span class="q-mr-sm" style="width: 30px; height: 3px; background-color:#ffbd59;"></span>
          <span class="quick3" style="color: #ffbd59"><h6 class="text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-sm quick3">Need more info</h6></span>
        </div>
        <h3 class="text-weight-light q-pa-none q-ma-none q-mb-md quick1" style="color: #737373">Let's talk...</h3>
        <div class="q-pr-xl q-mt-xl">
          <q-input standout="bg-orange-4 text-white" v-model="text" label="Your name" :dense="dense" class="q-mb-lg" />
          <q-input standout="bg-orange-4 text-white" v-model="text" label="Your email" :dense="dense" class="q-mb-lg" />
          <q-input standout="bg-orange-4 text-white" v-model="text" label="Message" :dense="dense" type="textarea" class="q-mb-lg" />
          <q-btn class="q-py-sm quick1 q-px-lg" style="background-image: linear-gradient(to right, #ffbd59, #ffc356, #ffc954, #fecf51, #fdd54f); color: white" label="Envoyer" size="md" flat />
        </div>
      </div>
      <div class="col-sm-5 q-px-md">
        <div class="flex flex-center">
          <q-img
            src="image/contact.png"
            style="width: 70%; height: auto; display: block; margin: auto"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import CardMoney from 'components/CardMoney'
import CardUser from 'components/CardUser'
import CardInfo from 'components/CardInfo'
export default {
  name: 'PageIndex',
  components: {
    CardMoney,
    CardUser,
    CardInfo
  },
  data () {
    return {
      dense: false,
      text: '',
      users: [],
      number: null
    }
  },
  async mounted () {
    this.users = await this.$store.dispatch('mystore/getHomeUsers', 4)
    this.number = await this.$store.dispatch('mystore/getHomeUsers', 'all')
    console.log(this.number, 'numer')
  }
}
</script>
