<template>
  <q-page class="q-mt-xl">
    <div class="row q-pa-xl">
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="q-pa-none q-ma-none q-mb-md quick1" style="color: #737373">Sign in to</h3>
            <h4 class=" text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-lg quick2" style="color: #737373">the best financial investment</h4>
            <h5 class="q-pa-none q-ma-none q-mt-sm q-mb-md text-overline quick3  q-mt-xl" style="font-size: 15px; color: #737373">Come join the family of investment leaders, here to create an account</h5>
          </div>
          <div class="col-sm-6 q-pl-lg">
            <q-img
              src="image/login.png"
              style="width: 85%; height: auto"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-5 q-pl-xl">
        <div>
          <div class="row q-mb-xs" style="align-items: center">
            <span class="q-mr-sm" style="width: 30px; height: 3px; background-color:#ffbd59;"></span>
            <span class="quick3" style="color: #ffbd59"><h6 class="text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-sm quick3">Already have an account</h6></span>
          </div>
          <h3 class="text-weight-light q-pa-none q-ma-none q-mb-md quick1" style="color: #737373">Sign in</h3>
          <div class="q-pr-xl q-mt-xl">
            <q-form
              @submit="login"
              class="col-sm-12"
            >
              <q-input
                standout="bg-orange-4 text-white"
                v-model="userConnected.emailOrpseudo" label="Email or name"
                :dense="dense"
                style="width: 100%"
                class="q-mb-sm"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
              />
              <q-input
                standout="bg-orange-4 text-white"
                v-model="userConnected.password" label="Password"
                :dense="dense"
                class="q-mb-sm"
                type="password"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
              />
              <q-btn class="q-py-sm quick1 q-px-lg" style="background-image: linear-gradient(to right, #ffbd59, #ffc356, #ffc954, #fecf51, #fdd54f); color: white" label="sign in" size="md" flat type="submit" />
            </q-form>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  data () {
    return {
      text: '',
      dense: false,
      userConnected: {
        emailOrpseudo: '',
        password: ''
      }
    }
  },
  computed: {
  },
  methods: {
    async login () {
      const user = await this.$store.dispatch('mystore/login', this.userConnected)
      if (user.token) {
        console.log({ user })
        this.$router.push('/dashboard')
      }
    }
  }
}
</script>
