<template>
  <q-page class="q-py-xl q-px-lg">
    <div class="row">
      <div class="col-sm-12 q-pa-md">
        <q-card class="no-shadow q-pa-md">
          <div class="row">
            <div class="col-sm-10">
              <h6 class=" text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-sm quick2" style="color: grey">Bienvenue sur,</h6>
              <h5 class="q-pa-none q-ma-none q-mt-sm q-mb-md quick3" style="color: grey">La plateforme d'investissement T<span style="color:  #FFBD59">R</span>EZOM</h5>
            </div>
            <div class="col-sm-2">
              <q-img
                src="image/dash.png"
                style="width: 100%; height: auto; margin-top: -50px"
              />
            </div>
          </div>
        </q-card>
      </div>
    </div>
    <div class=" col-sm-12 q-ml-lg q-mt-md">
      <h6 class="text-weight-light q-pa-none q-ma-none quick1" style="color: #737373; font-size: 20px">Some informations</h6>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-8 q-pa-md">
            <q-card class="q-pa-md no-shadow" style="height: 100%">
              <div class="q-mb-none q-pb-none">
                <div class="row q-mb-xs" style="align-items: center">
                  <span class="q-mr-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
                  <span class="quick3" style=" color: #ffbd59; font-size: 16px">Lien d'affiliation</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-9">
                  <div class="q-mt-none q-pt-xs">
                    <q-input standout ref="code" readonly v-model="httpLink" class="q-pa-none q-ma-none q-mt-sm quick1" :dense="true" />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="q-mt-none q-pt-xs">
                    <q-btn class="float-right" round dense flat text-color="grey-8" icon="fas fa-copy" @click="copyData">
                      <q-tooltip>Copy</q-tooltip>
                    </q-btn>
                  </div>
                </div>
              </div>
            </q-card>
          </div>
          <div class="col-sm-4 q-pa-md">
            <q-card class="q-pa-md no-shadow">
              <div class="q-mb-none q-pb-none">
                <div class="row q-mb-md" style="align-items: center">
                  <span class="quick3" style=" color: #ffbd59; font-size: 14px">Nombre de filleul</span>
                  <span class="q-ml-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <div class="q-mt-none">
                    <h5 class="q-pa-none q-ma-none q-mt-xs q-mb-xs quick1" style="font-size: 25px; color: #28313b"><q-icon name="fas fa-users" class="q-mr-sm" /> {{filleuls.firstLevel.length}}</h5>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="q-mt-none q-pt-xs">
                    <q-btn class="float-right" round dense flat text-color="grey-8" icon="notifications">
                      <q-tooltip>All filleul</q-tooltip>
                    </q-btn>
                  </div>
                </div>
              </div>
            </q-card>
          </div>
          <div class="col-sm-4 q-pa-md">
            <q-card class="q-pa-md no-shadow">
              <div class="q-mb-none q-pb-none">
                <div class="row q-mb-md" style="align-items: center">
                  <span class="q-mr-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
                  <span class="quick3" style=" color: #ffbd59; font-size: 14px">Rendement total</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="q-mt-none q-pt-xs">
                    <h5 class="q-pa-none q-ma-none q-mt-sm q-mb-xs quick1" style="font-size: 25px; color: #28313b"><q-icon name="fas fa-coins" class="q-mr-sm" /> {{ rendemenTotal | dollar}} <span style="font-size: 15px; color: grey" class="quick3">miCoin</span></h5>
                  </div>
                </div>
              </div>
            </q-card>
          </div>
          <div class="col-sm-4 q-pa-md">
            <q-card class="q-pa-md no-shadow">
              <div class="q-mb-none q-pb-none">
                <div class="row q-mb-md" style="align-items: center">
                  <span class="q-mr-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
                  <span class="quick3" style=" color: #ffbd59; font-size: 14px">Rendement obtenu par achat</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="q-mt-none q-pt-xs">
                    <h5 class="q-pa-none q-ma-none q-mt-sm q-mb-xs quick1" style="font-size: 25px; color: #28313b"><q-icon name="fas fa-coins" class="q-mr-sm" /> {{rendementParAchat | dollar}} <span style="font-size: 15px; color: grey" class="quick3">miCoin</span></h5>
                  </div>
                </div>
              </div>
            </q-card>
          </div>
          <div class="col-sm-4 q-pa-md">
            <q-card class="q-pa-md no-shadow">
              <div class="q-mb-none q-pb-none">
                <div class="row q-mb-md" style="align-items: center">
                  <span class="q-mr-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
                  <span class="quick3" style=" color: #ffbd59; font-size: 14px">Rendement obtenu par filleul</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="q-mt-none q-pt-xs">
                    <h5 class="q-pa-none q-ma-none q-mt-sm q-mb-xs quick1" style="font-size: 25px; color: #28313b"><q-icon name="fas fa-coins" class="q-mr-sm" /> {{userConnected.rendementfilleul | dollar }} <span style="font-size: 15px; color: grey" class="quick3">miCoin</span></h5>
                  </div>
                </div>
              </div>
            </q-card>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="q-pa-md" style="height: 100%">
          <q-card class="no-shadow q-pa-md" style="height: 100%" >
            <div class="flex flex-center">
              <q-avatar color="orange" text-color="white" size="100px" >
                {{firstLetter}}
              </q-avatar>
            </div>
            <div class="q-mt-md" v-if="userConnected.parrain">
              <h6 class="q-ma-none q-pa-none quick1" style="color: grey; font-size: 16px">Mon Parrain</h6>
              <h6 class="q-ma-none q-pa-none quick3" style="color: grey; font-size: 16px">Nom : {{userConnected.parrain.nom}}</h6>
              <h6 class="q-ma-none q-pa-none quick3" style="color: grey; font-size: 16px">Prénoms : {{userConnected.parrain.email}}</h6>
            </div>
            <q-btn class="absolute" style="right: 15px; bottom: 15px" round dense flat color="#737373" icon="menu">
              <q-tooltip>More detail about me</q-tooltip>
            </q-btn>
          </q-card>
        </div>
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class=" col-sm-12 q-ml-lg">
        <h6 class="text-weight-light q-pa-none q-ma-none quick1" style="color: #737373; font-size: 20px">First filleuls</h6>
      </div>
      <div class="col-sm-12 q-pa-md">
        <q-list padding class="bg-white">
          <div v-for="user in filleuls.firstLevel" :key="user.id">
            <CardUser1 :name="user.pseudo" :firstname="user.email" :date="user.createdAt" />
            <q-separator spaced inset="item"/>
          </div>
        </q-list>
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class=" col-sm-12 q-ml-lg">
        <h6 class="text-weight-light q-pa-none q-ma-none quick1" style="color: #737373; font-size: 20px">Second filleuls</h6>
      </div>
      <div class="col-sm-12 q-pa-md">
        <q-list padding class="bg-white">
          <div v-for="user in filleuls.secondLevel" :key="user.id">
            <CardUser1 :name="user.pseudo" :firstname="user.email" :date="user.createdAt" />
            <q-separator spaced inset="item"/>
          </div>
        </q-list>
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class=" col-sm-12 q-ml-lg">
        <h6 class="text-weight-light q-pa-none q-ma-none quick1" style="color: #737373; font-size: 20px">Third filleuls</h6>
      </div>
      <div class="col-sm-12 q-pa-md">
        <q-list padding class="bg-white">
          <div v-for="user in filleuls.thirdLevel" :key="user.id">
            <CardUser1 :name="user.pseudo" :firstname="user.email" :date="user.createdAt" />
            <q-separator spaced inset="item"/>
          </div>
        </q-list>
      </div>
    </div>
    <!-- content -->
  </q-page>
</template>

<script>
import CardUser1 from 'components/CardUser1'
import { mapGetters } from 'vuex'
export default {
  // name: 'PageName',
  components: {
    CardUser1
  },
  data () {
    return {
      code: null,
      bitcoin: 0,
      payeer: 0,
      perfectmoney: 0
    }
  },
  mounted () {
    this.getFilleuls()
  },
  computed: {
    ...mapGetters({
      userConnected: 'mystore/userConnected',
      filleuls: 'mystore/filleuls'
    }),
    httpLink () {
      return 'http://staging.trezom.capital/#/register/' + this.userConnected.pseudo
    },
    firstLetter () {
      let first = 'P'
      if (this.userConnected.parrain) {
        first = this.userConnected.parrain.nom.charAt(0)
      }
      return first
    },
    rendementParAchat () {
      let bitcoin = 0
      let payeer = 0
      let perfectmoney = 0
      if (this.userConnected.soldeBitcoin !== null) {
        bitcoin = this.userConnected.soldeBitcoin.solde
      }
      if (this.userConnected.soldePayeer !== null) {
        payeer = this.userConnected.soldePayeer.solde
      }
      if (this.userConnected.soldePerfectmoney !== null) {
        perfectmoney = this.userConnected.soldePerfectmoney.solde
      }
      const sum = bitcoin + payeer + perfectmoney
      return sum
    },
    rendemenTotal () {
      return this.rendementParAchat + this.userConnected.rendementfilleul
    }
  },
  methods: {
    copyData () {
      this.$refs.code.select()
      document.execCommand('copy')
      this.$q.notify({
        message: 'Le lien a été bien copié',
        icon: 'fas fa-copy',
        color: 'grey-8',
        textColor: 'white',
        position: 'bottom-right'
      })
    },
    async getFilleuls () {
      const filleuls = await this.$store.dispatch('mystore/treeLevelFilleul', this.userConnected.id)
      console.log({ filleuls })
    }
  }
}
</script>
