<template>
  <q-page class="q-mt-xl">
    <div class="row q-pa-xl">
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="q-pa-none q-ma-none q-mb-md quick1" style="color: #737373">Welcome to</h3>
            <h4 class=" text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-lg quick2" style="color: #737373">the best financial investment</h4>
            <h5 class="q-pa-none q-ma-none q-mt-sm q-mb-md text-overline quick3  q-mt-xl" style="font-size: 15px; color: #737373">Come join the family of investment leaders, here to create an account</h5>
          </div>
          <div class="col-sm-6">
            <q-img
              src="image/wc.png"
              style="width: 85%; height: auto"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-5 q-pl-xl">
        <div>
          <div class="row q-mb-xs" style="align-items: center">
            <span class="q-mr-sm" style="width: 30px; height: 3px; background-color:#ffbd59;"></span>
            <span class="quick3" style="color: #ffbd59"><h6 class="text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-sm quick3">Want to join</h6></span>
          </div>
          <h3 class="text-weight-light q-pa-none q-ma-none q-mb-md quick1" style="color: #737373">Sign up</h3>
          <div class="q-pr-xl q-mt-xl">
            <q-form
              @submit="register"
              class="col-sm-12"
            >
              <q-input
                lazy-rules
                :rules="[
                  val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP',
                  val => validatemail(val) || 'Veuillez saisir un adresse email valide SVP :)'
                ]"
                standout="bg-orange-4 text-white"
                v-model="userConnected.email"
                label="Email"
                :dense="dense"
                class="q-mb-sm"
                style="width: 100%"
              />
              <q-input
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                standout="bg-orange-4 text-white"
                v-model="userConnected.nom"
                label="Name"
                :dense="dense"
                class="q-mb-sm"
                style="width: 100%"
              />
              <q-input
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                standout="bg-orange-4 text-white"
                v-model="userConnected.prenoms"
                label="First name"
                :dense="dense"
                class="q-mb-sm"
                style="width: 100%"
              />
              <q-input
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                standout="bg-orange-4 text-white"
                v-model="userConnected.pseudo"
                label="Pseudo"
                :dense="dense"
                style="width: 100%"
              />
              <q-input
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                standout="bg-orange-4 text-white"
                v-model="userConnected.password"
                label="Password"
                :dense="dense"
                class="q-mb-sm"
                type="password"
              />
              <q-input
                lazy-rules
                :rules="[
                  val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP',
                  val => identique(val) || 'Oh !! Les mots de passe ne sont pas identiques'
                ]"
                standout="bg-orange-4 text-white"
                v-model="confirmPassword"
                label="Confirm password"
                :dense="dense"
                class="q-mb-sm"
                type="password"
              />
              <q-btn type="submit" class="q-py-sm quick1 q-px-lg" style="background-image: linear-gradient(to right, #ffbd59, #ffc356, #ffc954, #fecf51, #fdd54f); color: white" label="sign up" size="md" flat />
            </q-form>
          </div>
          <div class="row q-mb-xs " style="align-items: center; justify-content: center">
            <span class="q-mr-sm" style="width: 30px; height: 3px; background-color:#ffbd59;"></span>
            <span class="quick3" style="color: #ffbd59"><p class="text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-sm quick3">I already have an account</p></span>
            <span class="q-ml-sm" style="width: 30px; height: 3px; background-color:#ffbd59;"></span>
          </div>
          <div class="row q-mb-xs" style="align-items: center; justify-content: center">
            <q-btn class="q-py-sm quick1 q-px-lg" style="color: #ffbd59" label="sign in" size="md" outline @click="$router.push('/login')" />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  data () {
    return {
      text: '',
      dense: false,
      userConnected: {
        email: '',
        password: '',
        nom: '',
        prenoms: '',
        pseudo: '',
        idReference: ''
      },
      confirmPassword: ''
    }
  },
  computed: {
    isSignin () {
      console.log(this.$route.params.code)
      return (this.$route.params.code === undefined)
    }
  },
  methods: {
    async register () {
      this.userConnected.idReference = this.$route.params.code
      const user = await this.$store.dispatch('mystore/signup', this.userConnected)
      console.log(this.userConnected)
      if (user.token) {
        console.log({ user })
        this.$router.push('/dashboard')
      }
    },
    identique (password) {
      return password === this.userConnected.password
    },
    validatemail (mail) {
      const re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/
      return re.test(mail)
    }
  }
}
</script>
