<template>
  <q-page class="q-py-xl q-px-lg">
    <!-- content -->
    <div class="row">
      <div class="col-sm-12 q-pa-md">
        <q-card class="no-shadow q-pa-md">
          <div class="row">
            <div class="col-sm-10">
              <h6 class=" text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-sm quick2" style="color: grey">Retrouver ici toutes</h6>
              <h5 class="q-pa-none q-ma-none q-mt-sm q-mb-md quick3" style="color: grey">vos transactions <span style="color:  #FFBD59">entrantes</span> faites récemment</h5>
            </div>
            <div class="col-sm-2">
              <q-img
                src="image/historycome.png"
                style="width: 100%; height: auto; margin-top: -50px"
              />
            </div>
          </div>
        </q-card>
      </div>
    </div>
    <div class="q-pa-md">
      <q-list class="q-pa-sm rounded-borders bg-white" style="width: 100%">
        <HistoryCome v-for="history in histories" :key="history" :history="history" />
      </q-list>
    </div>
  </q-page>
</template>

<script>
import HistoryCome from 'components/HistoryCome'
export default {
  // name: 'PageName',
  components: {
    HistoryCome
  },
  data () {
    return {
      histories: [
        {
          amount: 0.0005,
          unit: 'BTC',
          type: 'bitcoin',
          from: 'azdaJGGASKdz014',
          createdAt: '21 décembre 2020'
        },
        {
          amount: 0.0004,
          unit: 'ETH',
          type: 'ethereum',
          from: 'azdaJGGASKdz014',
          createdAt: '21 décembre 2020'
        },
        {
          amount: 0.0002,
          unit: 'ETH',
          type: 'ethereum',
          from: 'azdaJGGASKdz014',
          createdAt: '21 décembre 2020'
        },
        {
          amount: 0.00005,
          unit: 'BTC',
          type: 'bitcoin',
          from: 'azdaJGGASKdz014',
          createdAt: '21 décembre 2020'
        },
        {
          amount: 0.00002,
          unit: 'BTC',
          type: 'bitcoin',
          from: 'azdaJGGASKdz014',
          createdAt: '21 décembre 2020'
        }
      ]
    }
  }
}
</script>
