<template>
  <div>
    <div class="row no-shadow q-pa-lg bg-white" :style="styles">
      <div class="col-sm-10 col-xs-10">
        <h6 class="q-pa-none q-ma-none quick1 text-grey-8">{{name}}</h6>
      </div>
      <div class="col-sm-2 col-xs-2">
          <h4 class="q-ma-none quick1 text-white text-right"><q-icon :name="icon" :color="color" style="text-align: right" /></h4>
      </div>
      <div class="col-sm-12">
        <h4 class="quick1 q-ma-none q-pa-none q-mb-sm" style="color: #373535">{{ depot | dollar}}</h4>
        <p class="quick1 q-ma-none q-pa-none text-right" style="font-size: 13px; color: grey">Last depot updated</p>
        <p class="quick2 q-ma-none q-pa-none text-right" style="font-size: 13px; color: grey">02 juillet 2020</p>
      </div>
    </div>
    <div class="row no-shadow q-mt-md q-pa-lg bg-white">
      <div class="col-sm-12">
        <div class="row q-mb-sm" style="align-items: center">
          <span class="q-mr-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
          <span class="quick3" style=" color: #ffbd59; font-size: 16px">Get Depot from my account</span>
        </div>
        <p class="quick2 q-ma-none q-pa-none" style="font-size: 15px; color: grey">Vous allez nous confier quelques sommes venant de votre dépot <span class="quick1">{{name}}</span> </p>
      </div>
      <div class="col-sm-12 q-mt-md">
        <q-img
          src="image/come.png"
          style="width: 50%; height: auto"
        />
      </div>
      <div class="col-sm-12 q-mt-md">
        <q-btn flat class="q-mt-md float-right" color="orange" label="Faire la transaction" @click="alert=true" />
      </div>
    </div>
    <div class="row no-shadow q-mt-md q-pa-lg bg-white">
      <div class="col-sm-12">
        <div class="row q-mb-sm" style="align-items: center">
          <span class="q-mr-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
          <span class="quick3" style=" color: #ffbd59; font-size: 16px">Get Depot from my Mizar</span>
        </div>
        <p class="quick2 q-ma-none q-pa-none" style="font-size: 15px; color: grey">Vous allez retirer votre investissement fait sur Mizar à votre compte <span class="quick1">{{name}}</span> </p>
      </div>
      <div class="col-sm-12 q-mt-md">
        <q-img
          src="image/go.png"
          style="width: 50%; height: auto"
        />
      </div>
      <div class="col-sm-12 q-mt-md">
        <q-btn flat class="q-mt-md float-right" color="orange" label="Faire la transaction" @click="check" />
      </div>
    </div>
    <div>
      <q-dialog v-model="alert">
        <q-card class="q-pa-sm" style="width: 60%; max-width: 100vw;">
          <q-card-section>
            <div class="row q-mb-sm" style="align-items: center">
              <span class="q-mr-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
              <span class="quick3" style=" color: #ffbd59; font-size: 16px">Transaction Payeer from my account (USD)</span>
            </div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <q-form
              @submit="transferer"
              class="col-sm-12"
            >
            <div class="row">
              <div class="col-sm-6 q-pr-sm">
                <q-input
                  standout="bg-orange-4 text-white"
                  v-model="payeerInfo.account" label="My account Payeer"
                  :dense="dense"
                  style="width: 100%"
                  class="q-mb-sm"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                />
              </div>
              <div class="col-sm-4 q-px-sm">
                <q-input
                  standout="bg-orange-4 text-white"
                  v-model="payeerInfo.sum" label="Fee to deposit"
                  :dense="dense"
                  class="q-mb-sm"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                />
              </div>
              <div class="col-sm-2 q-pl-sm">
                <q-input
                  standout="bg-orange-4 text-white"
                  v-model="payeerInfo.curIn" label="Unity"
                  :dense="dense"
                  readonly
                  class="q-mb-sm"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 q-pr-sm">
                <q-input
                  standout="bg-orange-4 text-white"
                  v-model="payeerInfo.apiId" label="API ID Payeer"
                  :dense="dense"
                  style="width: 100%"
                  type="password"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                />
              </div>
              <div class="col-sm-6 q-pl-sm">
                <q-input
                  standout="bg-orange-4 text-white"
                  v-model="payeerInfo.apiPass" label="API PASSWORD"
                  :dense="dense"
                  type="password"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                />
              </div>
            </div>
            <div style="width: 100%">
              <q-btn flat label="Effectuer la transaction" style="background-image: linear-gradient(to right, #ffbd59, #ffc356, #ffc954, #fecf51, #fdd54f); color: white" type="submit" />
              <q-btn flat label="Annuler" v-close-popup class="q-ml-sm" style="color: orange" />
            </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  // name: 'ComponentName',
  props: {
    name: String,
    styles: String,
    image: String,
    icon: String,
    color: String,
    depot: Number
  },
  data () {
    return {
      alert: false,
      payeerInfo: {
        apiId: '',
        apiPass: '',
        account: '',
        action: 'transfer',
        curIn: 'USD',
        curOut: 'USD',
        sum: 0,
        to: 'P1039290938'
      },
      dense: false,
      payeerCheck: {
        apiId: '1235356703',
        account: 'P1039279697',
        apiPass: 'dXmUXZryg0eTLtGK'
      }
    }
  },
  computed: {
    ...mapGetters({
      userConnected: 'mystore/userConnected'
    })
  },
  methods: {
    transferer () {
      const data = {
        idUser: this.userConnected.id,
        montantTransaction: this.payeerInfo.sum,
        typeTrans: 'payeer',
        dataTrans: this.payeerInfo
      }
      this.$store.dispatch('mystore/transactionEntrante', data)
      this.alert = false
    },
    check () {
      this.$store.dispatch('mystore/transactionEntrante', this.payeerCheck)
    }
  }
}
</script>
