<template>
  <div class="row shadow-4 rounded-borders">
    <div class="col-sm-3 q-pl-md flex flex-center">
      <q-avatar rounded style="width: 100%; height: auto">
        <img :src="image">
      </q-avatar>
    </div>
    <div class="col-sm-9 q-py-lg q-px-lg">
      <h6 class="q-ma-none quick1" style="color: #737373">
        <q-icon name="fas fa-dollar-sign" v-if="!isNumber"/>{{money}}
      </h6>
      <h6 class="q-ma-none quick2 " style="color: #737373">{{invest}}</h6>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    image: String,
    money: String,
    invest: String,
    isNumber: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {}
  }
}
</script>
