<template>
  <div class="row rounded-borders" style="background-image: linear-gradient(to right, #ffbd59, #ffc356, #ffc954, #fecf51, #fdd54f)">
    <div class="col-sm-3 q-pl-md flex flex-center">
      <q-avatar rounded style="width: 100%; height: auto">
        {{name.charAt(0)}}
      </q-avatar>
    </div>
    <div class="col-sm-7 q-py-lg q-px-lg">
      <h6 class="q-ma-none quick3 text-white">{{name}} </h6>
      <h6 class="q-ma-none quick2 text-white">
        {{users}} <q-icon name="fas fa-users" style="font-size: 17px" />
      </h6>
      <h6 class="q-ma-none quick2 text-white">{{money}} <q-icon name="fas fa-donate" style="font-size: 17px" /></h6>
    </div>
    <div class="col-sm-2 flex flex-center">
      <h4 class="q-ma-none quick1 text-white"># {{rank}}</h4>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    name: String,
    users: Number,
    money: String,
    rank: Number
  },
  data () {
    return {}
  }
}
</script>
