<template>
  <div>
    <q-card class="no-shadow q-px-md q-pt-lg q-pb-md" :style="styles">
      <q-card-section>
        <div class="row">
          <div class="col-sm-9 col-xs-9">
            <h6 class="q-pa-none q-ma-none quick1">{{name}}</h6>
          </div>
          <div class="col-sm-3 col-xs-3">
             <h4 class="q-ma-none quick1 text-white text-right"><q-icon :name="icon" :color="color" style="text-align: right" /></h4>
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <h4 class="quick1 text-center q-my-xl" style="color: #373535">+500 users</h4>
      </q-card-section>
      <q-card-section>
        <h6 class="q-ma-none quick1 text-right" style="color: #ffbd59"> +$10 Millions </h6>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    name: String,
    styles: String,
    icon: String,
    image: String,
    color: String
  },
  data () {
    return {}
  }
}
</script>
