<template>
  <q-item>
    <q-item-section top avatar>
      <q-avatar>
        {{name.charAt(0)}}
      </q-avatar>
    </q-item-section>

    <q-item-section>
      <q-item-label class="quick1">{{name}}</q-item-label>
      <q-item-label caption lines="2" class="quick3">{{firstname}}</q-item-label>
    </q-item-section>
    <q-item-section side>
      <q-item-label caption class="quick3">Nombre de filleul: 10</q-item-label>
      <q-icon name="fas fa-users" color="grey-8" class="q-mt-sm" />
    </q-item-section>
    <q-space />
    <q-item-section side top>
      <q-item-label caption class="quick3">inscription: {{date | fullDate}}</q-item-label>
      <q-icon name="far fa-calendar-minus" color="grey-8" class="q-mt-sm" />
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    name: String,
    firstname: String,
    nbfilleul: String,
    date: String
  },
  data () {
    return {}
  }
}
</script>
