<template>
  <q-item clickable v-ripple class="q-mb-md">
    <q-item-section avatar>
      <q-avatar v-if="history.type === 'bitcoin'" icon="fab fa-bitcoin" color="orange" text-color="white" />
      <q-avatar v-if="history.type === 'ethereum'" icon="fab fa-ethereum" color="blue" text-color="white" />
    </q-item-section>

    <q-item-section>
      <q-item-label lines="1" class="quick1">{{history.type}}</q-item-label>
      <q-item-label caption class="quick3">From Mizar account</q-item-label>
      <q-item-label caption class="quick3">to : {{history.to}}</q-item-label>
    </q-item-section>

    <q-item-section side>
      <q-item-label caption class="quick1">Amount : {{history.amount}} {{history.unit}}</q-item-label>
      <q-item-label caption class="quick3">{{history.createdAt}}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    history: Object
  },
  data () {
    return {}
  }
}
</script>
