<template>
  <q-card class="q-pa-sm" style="width: 60%; max-width: 100vw;">
    <q-card-section>
      <div class="row q-mb-sm" style="align-items: center">
        <span class="q-mr-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
        <span class="quick3" style=" color: #ffbd59; font-size: 16px">Transaction Payeer from my account (USD)</span>
      </div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      <q-form
        @submit="login"
        class="col-sm-12"
      >
      <div class="row">
        <div class="col-sm-6 q-pr-sm">
          <q-input
            standout="bg-orange-4 text-white"
            v-model="payeerInfo.account" label="My account Payeer"
            :dense="dense"
            style="width: 100%"
            class="q-mb-sm"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
          />
        </div>
        <div class="col-sm-4 q-px-sm">
          <q-input
            standout="bg-orange-4 text-white"
            v-model="payeerInfo.sum" label="Fee to deposit"
            :dense="dense"
            class="q-mb-sm"
            type="number"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
          />
        </div>
        <div class="col-sm-2 q-pl-sm">
          <q-input
            standout="bg-orange-4 text-white"
            v-model="payeerInfo.curIn" label="Unity"
            :dense="dense"
            readonly
            class="q-mb-sm"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 q-pr-sm">
          <q-input
            standout="bg-orange-4 text-white"
            v-model="payeerInfo.apiId" label="API ID Payeer"
            :dense="dense"
            style="width: 100%"
            type="password"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
          />
        </div>
        <div class="col-sm-6 q-pl-sm">
          <q-input
            standout="bg-orange-4 text-white"
            v-model="payeerInfo.apiPass" label="API PASSWORD"
            :dense="dense"
            type="password"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
          />
        </div>
      </div>
      <div style="width: 100%">
        <q-btn flat label="Effectuer la transaction" style="background-image: linear-gradient(to right, #ffbd59, #ffc356, #ffc954, #fecf51, #fdd54f); color: white" />
        <q-btn flat label="Annuler" class="q-ml-sm" style="color: orange" />
      </div>
      </q-form>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    alert: Boolean
  },
  data () {
    return {
      payeerInfo: {
        apiId: '',
        apiPass: '',
        account: '',
        action: 'transfer',
        curIn: 'USD',
        curOut: 'USD',
        sum: 0,
        to: 'P1039290938'
      },
      dense: false
    }
  },
  methods: {
    transferer () {
    }
  }
}
</script>
