// app global css in Sass form
@font-face
  font-family: bringheart;
  src: url(./fonts/BringHeart-Regular.otf);

@font-face
  font-family: caveat;
  src: url(./fonts/Caveat-Regular.ttf);

@font-face
  font-family: bringswash;
  src: url(./fonts/BringHeartSwash-Regular.otf);

@font-face
  font-family: fredokaone;
  src: url(./fonts/FredokaOne-Regular.ttf); 

@font-face
  font-family: gothic;
  src: url(./fonts/FredokaOne-Regular.ttf);

@font-face
  font-family: latolight;
  src: url(./fonts/Lato-Light.ttf);

@font-face
  font-family: latoblack;
  src: url(./fonts/Lato-Black.ttf);

@font-face
  font-family: latoregular;
  src: url(./fonts/Lato-Regular.ttf);
  
@font-face
  font-family: quick1;
  src: url(./fonts/static/Quicksand-Bold.ttf);

@font-face
  font-family: quick2;
  src: url(./fonts/static/Quicksand-Light.ttf);

@font-face
  font-family: quick3;
  src: url(./fonts/static/Quicksand-Medium.ttf);

@font-face
  font-family: quick4;
  src: url(./fonts/static/Quicksand-Regular.ttf);

// declare a class which applies it
.font1
  font-family: 'bringheart'

.font2
  font-family: 'caveat'

.font3
  font-family: 'bringswash'

.font4
  font-family: 'fredokaone'

.font5
  font-family: 'gothic'

.fontP
  font-family: 'latoregular'

.fontB
  font-family: 'latoblack'

.quick1
  font-family: 'quick1'

.quick2
  font-family: 'quick2'

.quick3
  font-family: 'quick3'

.quick4
  font-family: 'quick4'