<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'App',
  mounted () {
    this.$store.dispatch('mystore/loadPage')
    this.redirect()
  },
  computed: {
    ...mapGetters({
      userConnected: 'mystore/userConnected'
    })
  },
  methods: {
    redirect () {
      if (this.userConnected) {
        this.$router.push('/dashboard')
      }
    }
  }
}
</script>
