<template>
  <q-layout view="hHh LpR fFf" class="bg-grey-1">
    <q-header class=" text-grey-8" height-hint="64" style="background-image: linear-gradient(to right, #373535, #3a3939, #3d3c3d, #404041, #444444);">
      <q-toolbar class="GNL__toolbar q-py-lg">
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
          class="q-mr-sm"
          color="white"
        />

        <q-toolbar-title shrink class="row items-center no-wrap">
        </q-toolbar-title>

        <q-space />

        <div class="q-gutter-sm row items-center no-wrap">
          <q-btn round dense flat color="white" icon="apps">
            <q-tooltip>Google Apps</q-tooltip>
          </q-btn>
          <q-btn round dense flat color="white" icon="notifications">
            <q-badge color="orange" text-color="white" floating>
              2
            </q-badge>
            <q-tooltip>Notifications</q-tooltip>
          </q-btn>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-white"
      :width="280"
    >
      <q-scroll-area class="fit">
        <div class="q-mt-lg q-mb-sm">
          <div class="flex flex-center">
            <q-avatar color="orange" text-color="white" size="100px" >
              {{firstLetter}}
            </q-avatar>
          </div>
          <div class="text-center">
            <h5 class="q-pa-none q-ma-none q-mt-sm q-mb-xs quick3" style="font-size: 20px; color: #28313b">{{userConnected.pseudo}}</h5>
            <h5 class="q-ma-none quick1" style="color:#FFBD59">#10</h5>
          </div>
        </div>
        <q-list padding class="text-grey-8">
          <q-separator inset class="q-my-sm" />

          <q-item class="GNL__drawer-item" v-ripple v-for="link in links2" :key="link.text" clickable @click="$router.push(link.path)">
            <q-item-section avatar>
              <q-icon :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label class="quick3">{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator inset class="q-my-sm" />

          <q-item class="GNL__drawer-item" v-ripple v-for="link in links1" :key="link.text" clickable @click="disconnect(link.path)" >
            <q-item-section avatar>
              <q-icon :name="link.icon" color="orange" />
            </q-item-section>
            <q-item-section>
              <q-item-label class="quick3 text-orange">{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
      <div class="q-mt-md absolute q-ml-md" style="bottom: 10px">
        <div class="flex flex-center q-gutter-xs">
          <a class="GNL__drawer-footer-link quick2" href="javascript:void(0)" aria-label="Privacy">Privacy</a>
          <span> · </span>
          <a class="GNL__drawer-footer-link quick2" href="javascript:void(0)" aria-label="Terms">Terms</a>
          <span> · </span>
          <a class="GNL__drawer-footer-link quick2" href="javascript:void(0)" aria-label="About">About Mizar</a>
        </div>
      </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { fasGlobeAmericas } from '@quasar/extras/fontawesome-v5'
import { mapGetters } from 'vuex'
export default {
  name: 'GoogleNewsLayout',
  data () {
    return {
      leftDrawerOpen: false,
      search: '',
      showAdvanced: false,
      showDateOptions: false,
      exactPhrase: '',
      hasWords: '',
      excludeWords: '',
      byWebsite: '',
      byDate: 'Any time',
      links1: [
        { icon: 'web', text: 'Logout', path: '/login' }
      ],
      links2: [
        { icon: 'flag', text: 'Accueil', path: '/dashboard' },
        { icon: fasGlobeAmericas, text: 'Dépots', path: '/dashboard/depot' },
        { icon: 'domain', text: 'Historique achat', path: '/dashboard/story/incoming' },
        { icon: 'memory', text: 'Historique retrait', path: '/dashboard/story/outgoing' }
      ]
    }
  },
  created () {
    this.redirect()
  },
  mounted () {
    this.redirect()
  },
  computed: {
    ...mapGetters({
      userConnected: 'mystore/userConnected'
    }),
    firstLetter () {
      let letter = '0'
      if (this.userConnected) {
        letter = this.userConnected.pseudo.charAt(0)
      }
      return letter
    }
  },
  methods: {
    onClear () {
      this.exactPhrase = ''
      this.hasWords = ''
      this.excludeWords = ''
      this.byWebsite = ''
      this.byDate = 'Any time'
    },
    changeDate (option) {
      this.byDate = option
      this.showDateOptions = false
    },
    disconnect (path) {
      this.$store.dispatch('mystore/logout')
      this.$router.push(path)
    },
    redirect () {
      if (!this.$q.localStorage.getItem('user_auth')) {
        this.$router.push('/login')
      }
    }
  }
}
</script>

<style lang="sass">
.GNL
  &__toolbar
    height: 64px
  &__toolbar-input
    width: 55%
  &__drawer-item
    line-height: 24px
    border-radius: 0 24px 24px 0
    margin-right: 12px
    .q-item__section--avatar
      .q-icon
        color: #5f6368
    .q-item__label
      color: #3c4043
      letter-spacing: .01785714em
      font-size: .875rem
      font-weight: 500
      line-height: 1.25rem
  &__drawer-footer-link
    color: inherit
    text-decoration: none
    font-weight: 500
    font-size: .75rem
    &:hover
      color: #000
</style>
