<template>
  <q-layout view="hHh Lpr fFf"> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-header class="text-dark q-px-xl bg-white">
      <q-toolbar>
        <q-toolbar-title>
          <div class="row">
            <div class="col-sm-6">
            </div>
            <space />
            <div class="col-sm-6 flex" style="justify-content: flex-end;">
              <q-tabs >
                <q-btn flat style="color: #737373" label="Accueil"  class="q-mr-sm quick1" @click="$router.push('/')" />
                <q-btn flat style="color: #FFBD59" label="s'inscrire"  class="q-mr-sm quick1" @click="$router.push('/login')" />
              </q-tabs>
            </div>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  // name: 'LayoutName',

  data () {
    return {
      leftDrawer: true
    }
  }
}
</script>
