<template>
  <q-layout view="hhh lpR fff" @scroll="change">

    <q-header class="text-dark q-px-xl q-pb-xl" style="background-image: url('image/back.png'); background-repeat: no-repeat; background-size: 100% 100%">
      <q-toolbar>
        <q-toolbar-title>
          <div class="row">
            <div class="col-sm-6">
            </div>
            <space />
            <div class="col-sm-6 flex" style="justify-content: flex-end;">
              <q-tabs >
                <q-btn flat style="color: white" label="About us"  class="q-mr-sm quick1" @click="$router.push('/login')" />
                <q-btn flat style="color: white" label="Reference"  class="q-mr-sm quick1" @click="$router.push('/login')" />
                <q-btn flat style="color: white" label="se connecter"  class="q-mr-sm quick1" @click="$router.push('/login')" />
                <q-btn flat style="color: #FFBD59" label="s'inscrire"  class="q-mr-sm quick1" @click="$router.push('/login')" />
              </q-tabs>
            </div>
          </div>
        </q-toolbar-title>
        <q-dialog v-model="alert">
        <q-card class="q-pa-sm" style="width: 60%; max-width: 100vw;">
          <q-card-section>
            <div class="row q-mb-sm" style="align-items: center">
              <span class="q-mr-sm" style="width: 30px; height: 2px; background-color:#ffbd59;"></span>
              <span class="quick3" style=" color: #ffbd59; font-size: 16px">Transaction Payeer from my account (USD)</span>
            </div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <q-form
              @submit="transferer"
              class="col-sm-12"
            >
            <div class="row">
              <div class="col-sm-6 q-pr-sm">
                <q-input
                  standout="bg-orange-4 text-white"
                  v-model="payeerInfo.account" label="My account Payeer"
                  :dense="dense"
                  style="width: 100%"
                  class="q-mb-sm"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                />
              </div>
              <div class="col-sm-4 q-px-sm">
                <q-input
                  standout="bg-orange-4 text-white"
                  v-model="payeerInfo.sum" label="Fee to deposit"
                  :dense="dense"
                  class="q-mb-sm"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                />
              </div>
              <div class="col-sm-2 q-pl-sm">
                <q-input
                  standout="bg-orange-4 text-white"
                  v-model="payeerInfo.curIn" label="Unity"
                  :dense="dense"
                  readonly
                  class="q-mb-sm"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 q-pr-sm">
                <q-input
                  standout="bg-orange-4 text-white"
                  v-model="payeerInfo.apiId" label="API ID Payeer"
                  :dense="dense"
                  style="width: 100%"
                  type="password"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                />
              </div>
              <div class="col-sm-6 q-pl-sm">
                <q-input
                  standout="bg-orange-4 text-white"
                  v-model="payeerInfo.apiPass" label="API PASSWORD"
                  :dense="dense"
                  type="password"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Oups.. Veuillez remplir le champs SVP']"
                />
              </div>
            </div>
            <div style="width: 100%">
              <q-btn flat label="Effectuer la transaction" style="background-image: linear-gradient(to right, #ffbd59, #ffc356, #ffc954, #fecf51, #fdd54f); color: white" type="submit" />
              <q-btn flat label="Annuler" v-close-popup class="q-ml-sm" style="color: orange" />
            </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
      </q-toolbar>
      <div class="row">
        <div class="col-sm-6">
          <div class="flex q-ml-lg" style="height: 50vh; align-items: center">
            <div>
              <h3 class="q-pa-none q-ma-none q-mb-md quick1" style="color: white">Save Your Time & Money</h3>
              <h3 class=" text-weight-light q-pa-none q-ma-none q-mt-sm q-mb-lg quick2" style="color: white">Enjoy Financial Success</h3>
              <h5 class="q-pa-none q-ma-none q-mt-sm q-mb-md text-overline quick3" style="font-size: 15px; color: white">La plateforme vous offre les meilleurs coûts et investissements qui soient</h5>
              <q-btn class="q-py-sm quick1" style="background-image: linear-gradient(to right, #ffbd59, #ffc356, #ffc954, #fecf51, #fdd54f); color: white" label="Commencer à investir" size="md" flat @click="check" />
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <q-img
            src="image/investTrans.png"
            style="width: 100%; height: auto"
          />
        </div>
      </div>
    </q-header>
    <q-footer elevated class="bg-grey-8 text-white q-px-lg">
    </q-footer>
    <q-page-container style="background-color: transparent;" >
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      right: false,
      stylePrimary: 'bg-primary text-white',
      styleSecondary: 'bg-white text-blue',
      elevated: false,
      alert: false,
      payeerInfo: {
        apiId: '',
        apiPass: '',
        account: '',
        action: 'transfer',
        curIn: 'USD',
        curOut: 'USD',
        sum: 0,
        to: 'P1039290938'
      },
      dense: false,
      payeerCheck: {
        apiId: '1235356703',
        account: 'P1039279697',
        apiPass: 'zamba123456',
        action: 'getBalance'
      }
    }
  },
  methods: {
    change (el) {
      const num = document.documentElement.scrollTop
      if (num > 50) {
        this.elevated = true
      } else if (this.elevated && num < 5) {
        this.elevated = false
      }
    },
    transferer () {
      const data = {
        montantTransaction: this.payeerInfo.sum,
        typeTrans: 'payeer',
        dataTrans: this.payeerInfo
      }
      this.$store.dispatch('mystore/transactionEntrante', data)
    },
    check () {
      this.$store.dispatch('mystore/transactionEntrante', this.payeerCheck)
    }
  }
}
</script>
